# Put this in /etc/systemd/system/zeroctl.service
[Unit]
Description=Zeroctl Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/zeroctl daemon
Restart=always
User=zero
Group=zero
WorkingDirectory=/usr/local/bin
StandardOutput=append:/var/log/zeroctl.log
StandardError=append:/var/log/zeroctl.log

[Install]
WantedBy=multi-user.target
